<div class="panel">
  <div class="row">
    <a href="#" data-reveal-id="projectModal" class="button">Add/Edit Project</a>
    <%= render "add_project" %>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h4>My Projects</h4>
      <% @projects.each do |project| %>
        <div class="project"><%= project.title %></div>
      <% end %>
    </div>
  </div>
</div>


