<div class="panel pro-background">

  <div class="row">
    <div class="large-4 large-offset-4 columns vcenter">
      <h2><%= @developer.name %></h2>
      <h4><%= @developer.profession %></h4>
    </div>
  </div>

  <% @projects.each_with_index do |project, i| %>
    <%= render 'projects/public_display', project: project, i: i %>
  <% end %> <!-- projects.each -->

  <%= render 'developers/profile', developer: @developer %>

</div> <!-- /panel -->
