
<a href="#" data-dropdown="drop2">Has Content Dropdown</a>
<ul id="drop2" class="f-dropdown" data-dropdown-content>

<% @repositories.each do |repo| %>
<li>
      <a href=<%=repo[:url]%> ><%= repo[:name] %></a><br>
      <% if repo[:description] != "" %>
        <%= repo[:description] %>
      <% else %>
        <em>no descrption given</em>
      <% end %>
</li>
<% end %>

</ul>