<% @repositories.each do |repo| %>
  <div class="row github-container">
    <div class="small-8 columns">
      <a href=<%=repo[:url]%> ><%= repo[:name] %></a><br>
      <% if repo[:description] != "" %>
        <%= repo[:description] %>
      <% else %>
        <em>no descrption given</em>
      <% end %>
    </div>
    <div class="small-4 columns">
      <%= button_to "Load from repository", files_from_repo_path(repo), class: "tiny button", form_class: "file-loader", remote: true %>
    </div>
  </div>
<% end %>
