<div id="project-form-modal-repo" class="reveal-modal"style="display: none; -webkit-transform-origin: 0px 0px; opacity: 1; -webkit-transform: scale(1, 1); visibility: hidden; top: -100px;">

<% @repositories.each do |repo| %>
  <div class="row">
    <div class="small-8 columns">
      <a href=<%=repo[:url]%> ><%= repo[:name] %></a><br>
      <% if repo[:description] != "" %>
        <%= repo[:description] %>
      <% else %>
        <em>no descrption given</em>
      <% end %>
    </div>
    <div class="small-4 columns">
      <%= button_to "Add to projects", project_from_repo_path(repo), class: "tiny button" %>
    </div>
  </div>
<% end %>

<a class="close-reveal-modal">&#215;</a>

</div>
