<% if session[:developer_id] != @developer.id %>
<div class="pro_container">
  <div class="pro_vcenter">
    <div class="row">
      <div class="small-8 large-10 small-centered columns">
        <div class="shadowpanel">
          <%= render partial: 'public' %>
        </div> <!-- shadowpanel -->
      </div> <!-- small-8 large-10 -->
    </div> <!-- row -->
  </div> <!-- pro_vcenter -->
</div> <!-- pro_container -->
<% else %>
<div class="pro_container">
  <div class="pro_vcenter">
    <div class="row">
      <div class="small-8 large-10 small-centered columns">
        <div class="shadowpanel">
          <!-- Only show public tab if the user is logged in -->
          <% if session[:developer_id] == @developer.id %>
          <div class="section-container tabs" data-section="tabs">
            <!-- Public tab -->
            <section class="active">
              <p class="title" data-section-title><a href="#panel1">Public</a></p>
              <%= render partial: 'public' %>
            </section>
            <!-- End Public tab -->

            <!-- Edit tab -->
            <section>
              <p class="title" data-section-title><a href="#panel2">Edit</a></p>
              <div class="content" data-section-content>
                <%= render partial: 'edit_projects' %>
              </div>
            </section>
            <!-- End Edit tab -->
               <section>
              <p class="title" data-section-title><a href="#panel2">Profile</a></p>
              <div class="content" data-section-content>
                <%= render partial: 'edit_profile' %>
              </div>
            </section>
          <% end %>
          </div> <!-- section-container tabs -->
        </div> <!-- shadowpanel -->
      </div> <!-- small-8 large-10 -->
    </div> <!-- row -->
  </div> <!-- pro_vcenter -->
</div> <!-- pro_container -->

<% end %>