<h3>this is a test of the emergency broadcast system</h3>

<div class="section-container tabs" data-section>
  <section class="active">
    <p class="title" data-section-title><a href="#panel1">Public</a></p>
    <div class="content" data-section-content>
<!-- Public tab content -->
    <h3>Git content goes here</h3>

<!--  Slider
      <div class="slideshow-wrapper">
        <div class="preloader"></div>
        <ul id="featured2" data-orbit>
          <li>
            <%#= image_tag "" %>
            <div class="orbit-caption">Backwards compatible code</div>
          </li>
          <li>
            <%#= image_tag "" %>
            <div class="orbit-caption">Stylish code</div>
          </li>
          <li>
            <%#= image_tag "" %>
            <div class="orbit-caption">Github contributions</div>
          </li>
        </ul>
      </div> -->
<!-- End content -->
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel2">Customize</a></p>
    <div class="content" data-section-content>
<!-- Customize tab content -->
      <h3>Customization content goes here</h3>

      <a href="#" class="button radius" data-reveal-id="myModal">Open ze modal!</a>

      <div id="myModal" class="reveal-modal">
        <h2>Awesome. I have it.</h2>
        <p class="lead">Your couch.  It is mine.</p>
        <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
        <a class="close-reveal-modal">&#215;</a>
      </div>
<!-- End content -->
    </div>
  </section>
</div>
