<div class="container">
  <div class="vcenter">
    <div class="row">
      <div class="small-12 columns">
            <% if session[:developer_id] == nil %>
            	<%= render partial: 'sessions/sign_in' %>
            <% end %>
      </div> <!-- small-8 -->
    </div> <!-- row -->
  </div> <!-- vcenter -->
</div> <!-- container -->
