<div class="row">

  <div class="large-9 columns">
    <div class="panel">
      <%= chunk.title %>
    </div>
  </div> <!-- /large-12 col -->

  <!-- Feature description -->
  <div class="large-3 columns">
    <div class="panel">
      <%= chunk.description %>
    </div>
  </div> <!-- /large-12 col -->

</div> <!-- /row -->