/* base color palette:
#1B4D54: dark green (background, image border)
#875024: dark red-brown (navbar, code boxes, project dividers)
#48939E: light green (profile background, alternating project background, top highlight)
#A1714B: muted orange (alternating project background)
#A85A1B: bright orange (bottom highlight)
*/

body {
  background-color: #33302E;
}

.container {
  position: relative;
  margin-top: 10%;
}

.vcenter {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  margin: auto;
}

.login {
  color: black;
  background-color: #48939E;
  border-radius: 5px;
}

.pro_container {
  position: relative;
}

.pro_vcenter {
  position: absolute;
  top: 20px;
  width: 100%;
  margin: auto;
}

.project {
  background-color: #FFFFFF;
}

.pro-background {
   padding: 0px 0px 0px 0px;
   background-color: #D7DADB;
}

.pro-fill0 {
  background-color: #D7DADB;
  margin: 0px 0px 5px 0px;
}

.pro-fill1 {
  background-color: #AEC3C6;
  margin: 0px 0px 5px 0px;
}

.profile {
  background-color: #AEC3C6;
  min-height: 170px;
  border-radius: 5px;
}

.profile-center{
  left: 10%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.text-vcenter {
  margin-top: 15%;
}

.modal-pos {
  top: 50px;
}

.modal-repo-fill0 {
  background-color: #D7DADB;
  min-height: 80px;
}

.modal-repo-fill1 {
  background-color: #FFFFFF;
  min-height: 80px;
}

.modal-repo-text {
  margin-left: 30%;
}

.shadow-panel {
  -moz-box-shadow: 10px 10px 10px rgba(0,0,0,0.7);
  -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.7);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7);
}

.avatar {
  position: absolute;
  right: 0px;
  top: 100px;
}

.avatar-image {
  max-width: 200px;
  max-height: 150px;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  border-color: #1B4D54;
}

.logo-sml {
  height: 45px;
  width: 45px;
}

.nav-bar-color {
  background-color: #1B4D54;
  opacity: 0.8;
}

#developer-name {
  font-size: 200%;
}

.center {
  text-align: center;
}

.project-title {
  color: black;
  font-size: 200%;
  text-align: center;
}

#profile-photo {
  position: relative;
  top: 2.5em;
}

#login-header {
  color: white;
  font-size: 400%;
}

#login-message {
  color: white;
  font-size: 600%;
}

#repos {
  color: black;
}

div {
  border-radius: 10px;
}

textarea { height: auto; }

.button {
  background-color: #1B4D54;
}
