.shadow-panel { @include panel; }
.outline-panel { @include panel; }

.container {
  position: relative;
  height: 300px;
}

.vcenter {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  margin: auto;
}

.pro_container {
  position: relative;
}

.pro_vcenter {
  position: absolute;
  top: 20px;
  width: 100%;
  margin: auto;
}

.shadow-panel {
  box-shadow: 10px 10px 10px #888888;
}

.outline-panel {
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  width: 50%;
}

.sliderdiv {
  position: relative;
  top: 30px;
  padding: 10px;
}

.project {
  background-color: #2ba6cb;
  border-width: 3px;
  border-style: groove;
  border-radius: 5px;
  border-color: #2284a1;
  /*padding: 10% 10% 10% 10%;*/
  vertical-align: middle;
  /*min-width: 150px;*/
  min-height: 40px;
  line-height: 20px;
  margin: 10px 10px 10px 10px;
}

#hidden {
  visibility: hidden;
}